crps_dotplot_sketch_year.png
pred_perf_tab_w_datadrive.docx
IISscheme.pdf
autoGAM.tgn
paperII-final-Journal-of-Hydrology.pdf
Barna-regional-Journal-of-Hydrology.pdf
JoHsubmission
Barna-regional-Journal-of-Hydrology.tex
abstract.pdf
declarationStatement.docx
highlights.docx
